<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork865-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [2]:
!pip install mysql-connector-python
!pip install protobuf==3.20.3

Requirement already satisfied: mysql-connector-python in /Users/nakamurahigeri/opt/anaconda3/lib/python3.9/site-packages (8.0.33)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in /Users/nakamurahigeri/opt/anaconda3/lib/python3.9/site-packages (from mysql-connector-python) (3.20.3)
Requirement already satisfied: protobuf==3.20.3 in /Users/nakamurahigeri/opt/anaconda3/lib/python3.9/site-packages (3.20.3)

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [18]:
import mysql.connector

# MySQL接続情報を指定
config = {
    'user': 'root',
    'password': '',
    'host': 'localhost',
    'database': 'SPACEX',
    'raise_on_warnings': True
}

# MySQLに接続
cnx = mysql.connector.connect(**config)

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"**

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [17]:
# クエリを実行して結果を取得
query = "SELECT DISTINCT Launch_Site FROM SPACEX"
cursor = cnx.cursor()
cursor.execute(query)
results = cursor.fetchall()

# 結果を表示
for row in results:
    print(row[0])

# 接続をクローズ
cursor.close()
cnx.close()

CCAFS LC-40
VAFB SLC-4E
KSC LC-39A
CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'CCA'

In [14]:
# クエリを実行して結果を取得
query = "SELECT * FROM SPACEX WHERE Launch_Site LIKE 'CCA%' LIMIT 5"
cursor = cnx.cursor()
cursor.execute(query)
results = cursor.fetchall()

# 結果を表示
for row in results:
    print(row)

# 接続をクローズ
cursor.close()
cnx.close()

(datetime.date(2010, 6, 4), '18:45:00', 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)')
(datetime.date(2010, 12, 8), '15:43:00', 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)')
(datetime.date(2012, 5, 22), '7:44:00', 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt')
(datetime.date(2012, 10, 8), '0:35:00', 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')
(datetime.date(2013, 3, 1), '15:10:00', 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [25]:
import mysql.connector

# MySQL接続情報を指定
config = {
    'user': 'root',
    'password': '',
    'host': 'localhost',
    'database': 'SPACEX',
    'raise_on_warnings': True
}

# MySQLに接続
cnx = mysql.connector.connect(**config)

# クエリを実行して結果を取得
query = "SELECT SUM(PAYLOAD_MASS_KG_) FROM SPACEX WHERE Customer = 'NASA (CRS)'"
cursor = cnx.cursor()
cursor.execute(query)
result = cursor.fetchone()

# 結果を表示
total_payload_mass = result[0]
print("Total Payload Mass carried by NASA (CRS):", total_payload_mass, "kg")

# 接続をクローズ
cursor.close()
cnx.close()

Total Payload Mass carried by NASA (CRS): 45596 kg

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [27]:
import mysql.connector

# MySQL connection configuration
config = {
    'user': 'root',
    'password': '',
    'host': 'localhost',
    'database': 'SPACEX',
    'raise_on_warnings': True
}

# Connect to MySQL
cnx = mysql.connector.connect(**config)

# Execute the query
query = "SELECT AVG(PAYLOAD_MASS_KG_) FROM SPACEX WHERE Booster_Version = 'F9 v1.1'"
cursor = cnx.cursor()
cursor.execute(query)
result = cursor.fetchone()

# Display the average payload mass
print("Average Payload Mass carried by F9 v1.1 booster:", result[0])

# Close the connection
cursor.close()
cnx.close()

Average Payload Mass carried by F9 v1.1 booster: 2928.4000

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.


_Hint:Use min function_

In [28]:
import mysql.connector

# MySQL connection configuration
config = {
    'user': 'root',
    'password': '',
    'host': 'localhost',
    'database': 'SPACEX',
    'raise_on_warnings': True
}

# Connect to MySQL
cnx = mysql.connector.connect(**config)

# Execute the query
query = "SELECT MIN(Date) FROM SPACEX WHERE Landing_Outcome LIKE '%ground pad%' AND Landing_Outcome LIKE '%Success%'"
cursor = cnx.cursor()
cursor.execute(query)
result = cursor.fetchone()

# Display the date of the first successful landing on a ground pad
print("Date of the first successful landing on a ground pad:", result[0])

# Close the connection
cursor.close()
cnx.close()

Date of the first successful landing on a ground pad: 2015-12-22

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [31]:
import mysql.connector

# MySQL connection configuration
config = {
    'user': 'root',
    'password': '',
    'host': 'localhost',
    'database': 'SPACEX',
    'raise_on_warnings': True
}

# Connect to MySQL
cnx = mysql.connector.connect(**config)

# Execute the query
query = "SELECT Booster_Version FROM SPACEX WHERE Landing_Outcome LIKE '%drone ship%' AND PAYLOAD_MASS_KG_ > 4000 AND PAYLOAD_MASS_KG_ < 6000 AND Landing_Outcome LIKE '%Success%'"
cursor = cnx.cursor()
cursor.execute(query)
results = cursor.fetchall()

# Display the names of the boosters
print("Boosters with successful landing on a drone ship and payload mass between 4000 and 6000:")
for result in results:
    print(result[0])

# Close the connection
cursor.close()
cnx.close()

Boosters with successful landing on a drone ship and payload mass between 4000 and 6000:
F9 FT B1022
F9 FT B1026
F9 FT  B1021.2
F9 FT  B1031.2

### Task 7




##### List the total number of successful and failure mission outcomes

In [32]:
import mysql.connector

# MySQL connection configuration
config = {
    'user': 'root',
    'password': '',
    'host': 'localhost',
    'database': 'SPACEX',
    'raise_on_warnings': True
}

# Connect to MySQL
cnx = mysql.connector.connect(**config)

# Execute the query for successful missions
query_success = "SELECT COUNT(*) FROM SPACEX WHERE Mission_Outcome LIKE '%Success%'"
cursor = cnx.cursor()
cursor.execute(query_success)
result_success = cursor.fetchone()[0]

# Execute the query for failed missions
query_failure = "SELECT COUNT(*) FROM SPACEX WHERE Mission_Outcome LIKE '%Failure%'"
cursor.execute(query_failure)
result_failure = cursor.fetchone()[0]

# Display the total number of successful and failure mission outcomes
print("Total number of successful missions: ", result_success)
print("Total number of failure missions: ", result_failure)

# Close the connection
cursor.close()
cnx.close()

Total number of successful missions:  100
Total number of failure missions:  1

### Task 8



##### List the   names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [34]:
import mysql.connector

# MySQL connection configuration
config = {
    'user': 'root',
    'password': '',
    'host': 'localhost',
    'database': 'SPACEX',
    'raise_on_warnings': True
}

# Connect to MySQL
cnx = mysql.connector.connect(**config)

# Execute the query
query = """
SELECT booster_version
FROM SPACEX
WHERE PAYLOAD_MASS_KG_ = (
    SELECT MAX(PAYLOAD_MASS_KG_) 
    FROM SPACEX
)
"""
cursor = cnx.cursor()
cursor.execute(query)
results = cursor.fetchall()

# Display the names of the booster_versions with the maximum payload mass
print("Booster Versions with Maximum Payload Mass:")
for result in results:
    print(result[0])

# Close the connection
cursor.close()
cnx.close()

Booster Versions with Maximum Payload Mass:
F9 B5 B1048.4
F9 B5 B1049.4
F9 B5 B1051.3
F9 B5 B1056.4
F9 B5 B1048.5
F9 B5 B1051.4
F9 B5 B1049.5
F9 B5 B1060.2
F9 B5 B1058.3
F9 B5 B1051.6
F9 B5 B1060.3
F9 B5 B1049.7

### Task 9


##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use  substr(Date, 4, 2) as month to get the months and substr(Date,7,4)='2015' for year.**

In [36]:
import mysql.connector

# MySQL connection configuration
config = {
    'user': 'root',
    'password': '',
    'host': 'localhost',
    'database': 'SPACEX',
    'raise_on_warnings': True
}

# Connect to MySQL
cnx = mysql.connector.connect(**config)

# Execute the query
query = """
SELECT 
    DATE_FORMAT(Date, '%m') AS Month,
    landing_outcome AS Landing_Outcome,
    booster_version AS Booster_Version,
    launch_site AS Launch_Site
FROM SPACEX
WHERE 
    YEAR(Date) = 2015 AND
    Landing_Outcome = 'Failure (drone ship)'
"""
cursor = cnx.cursor()
cursor.execute(query)
results = cursor.fetchall()

# Display the records
print("Records for Months in 2015 with Failure Landing Outcomes in Drone Ship:")
for result in results:
    print("Month:", result[0])
    print("Landing Outcome:", result[1])
    print("Booster Version:", result[2])
    print("Launch Site:", result[3])
    print()

# Close the connection
cursor.close()
cnx.close()

Records for Months in 2015 with Failure Landing Outcomes in Drone Ship:
Month: 01
Landing Outcome: Failure (drone ship)
Booster Version: F9 v1.1 B1012
Launch Site: CCAFS LC-40

Month: 04
Landing Outcome: Failure (drone ship)
Booster Version: F9 v1.1 B1015
Launch Site: CCAFS LC-40

### Task 10




##### Rank the  count of  successful landing_outcomes between the date 04-06-2010 and 20-03-2017 in descending order.

In [1]:
import mysql.connector

# MySQL connection configuration
config = {
    'user': 'root',
    'password': '',
    'host': 'localhost',
    'database': 'SPACEX',
    'raise_on_warnings': True
}

# Connect to MySQL
cnx = mysql.connector.connect(**config)

# Execute the query
query = """
SELECT
    landing_outcome AS Landing_Outcome,
    COUNT(*) AS Success_Count
FROM SPACEX
WHERE
    Date BETWEEN '2010-06-04' AND '2017-03-20' AND
    landing_outcome = 'Success'
GROUP BY landing_outcome
ORDER BY Success_Count DESC
"""
cursor = cnx.cursor()
cursor.execute(query)
results = cursor.fetchall()

# Display the records
print("Ranking of Successful Landing Outcomes between 04-06-2010 and 20-03-2017:")
rank = 1
for result in results:
    print("Rank:", rank)
    print("Landing Outcome:", result[0])
    print("Success Count:", result[1])
    print()
    rank += 1

# Close the connection
cursor.close()
cnx.close()

Ranking of Successful Landing Outcomes between 04-06-2010 and 20-03-2017:

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>